<configuration>
    <springProperty name="accessLogFormat" source="access-log-format" defaultValue="combined"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <springProfile name="!prod">
          <pattern>${accessLogFormat}</pattern>
        </springProfile>

        <springProfile name="prod">
          <pattern>{"clientHost": "%h", "RemoteUser": "%u", "date": "%t", "RequestURL": "%r", "SessionId": "%S", "StatusCode": "%s", "ContentLength": "%b"}</pattern>
        </springProfile>
      </encoder>
    </appender>
    <appender-ref ref="CONSOLE" />
</configuration>
