<!DOCTYPE configuration>

<configuration>
    <springProperty name="accessLogFormat" source="access-log-format" defaultValue="combined"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${accessLogFormat}</pattern>
        </encoder>
    </appender>
    <appender-ref ref="CONSOLE" />
</configuration>
